@media (min-width:1493px){
    .input__filtro{
        width: 40vw;
        background-position-x: calc(100% - 1rem);
    }
    .secao-1__filtros{
        justify-content: space-around;
    }
    .secao-2__filtros,.secao-3__filtros{
        justify-content: space-between;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .cliente__pesquisa{
        justify-content: space-between;
    }
    .secao-1{
        gap: 0%;
        width: 22.5vw;

        justify-content: space-between;
    }
    .secao-2{
        margin-left: 20vw;
    }

    .input__filtro___pagamento-secao-1{
        background-position-x: calc(100% - 2rem);
    }
    .secao-2__filtros___pagamento{
        justify-content: space-between;
        gap: 0%;
        padding-left:  1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .secao-3__filtros{
        justify-content: space-around;
        gap: 0%;
        padding-left:  0.5rem;
        padding-right: 2.5rem;
    }
    .resultado__pesquisa {
        padding-left: 3rem;
    }

    .cliente__pesquisa___pagamento{
        padding-right: 18rem;
    }
    .info___cliente___pagamento{
        gap:7.375rem;
    }
    .container__info___cliente{
        padding-right: 2rem;
    }
}

@media (max-width:1024px){ /*Responsivo Mobile*/
    .cabecalho{
        padding: 1.563rem 1rem;
    }
    .logo-anbetec{
        width: 5.688rem;
        height: 1.813rem;
    }
    .container-pesquisa{
        margin-left: 1.5rem;
    }
    .pesquisa-mobile{
        display: flex;
        padding: 0%;
        border: none;
        background-color: transparent;
    }
    .ico-pesquisa-mobile{
        width: 2rem;
        height: 2rem;
    }
    .barra-pesquisa{
        display: none;
    }
    .container__notificacao{
        border: none;
        padding: 0%;
        margin-right: .5rem;
        margin-left: 1rem;
    }
    .notificacao{
        height: 2rem;
        width: 2rem;
    }
    .informacoes__perfil{
        width: 97px;
    }
    .banco__perfil{
        font-size: 12px;
    }
    .menu-dots{
        display: none;
    }

}