@media (min-width:0px) {
    .conteudo {
        display: flex;
        flex-direction: row;
        height: auto;
    }
    .vector-preenchido {
        position: absolute;
        top: 1.2rem;
    }
    .vector-borda {
        position: absolute;
        bottom: 0;
        right: 48.061rem;
    }
    .info_intro{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding-top: 15%;
        padding-bottom: 20%;
    }
    .intro-principal {
        background-image: url("/Assets/Group\ 47.png");
        background-repeat: no-repeat;
        width: 100%;
    }
    .imagem-circuferencia{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
    }
    .texto__intro {
        left: 9rem;
        top: 7.5rem;
    }
    .titulo__intro {
        color: var(--primary);
        width: 28.813rem;
        height: 7.75rem;
        font-size: 3.563rem;
        font-weight: 800;
        font-family: var(--mont-serrat);
        letter-spacing: 0.019rem;
        text-align: center;
        line-height: 3.875rem;
        margin-bottom: 0%;
    }
    .descricao__intro {
        color: var(--primary);
        font-size: 18px;
        font-family: var(--mont-serrat);
        font-weight: 400;
        letter-spacing: 0.013rem;
        text-align: center;
        margin-top: 0;
    }
    .destaque__titulo {
        color: var(--primary-support);
    }
    .vetor-direita{
        margin-left: 2.5rem;
        margin-bottom: 1rem;
    }
    .intro-principal p {
        display: flex;
        flex-direction: column;
        width: 14.499rem;
        color: var(--primary);
        font-family: var(--mont-serrat);
        font-weight: 600;
        border: 0.034rem solid #F9F9F9;
        box-shadow: 0px 0.136rem 0.674rem rgba(122, 133, 148, 0.21);
        border-radius: 0.272rem;
        padding: 1.117rem 0 1.117rem 3.755rem;
        background-repeat: no-repeat;
        background-position-y: 1rem;
        background-position-x: 0.838rem;
        z-index: 2;
    }
    .intro-principal p>span {
        margin: 0%;
        color: #7A8594;
        font-size: 0.475rem;
    }
    .edi-financeiro {
        position: absolute;
        top: 34%;
        left: 17.5%;
        background: #FFFFFF;
        background-image: url("/././Assets/Finance.png");
    }
    .cobranca {
        position: absolute;
        top: 67.5%;
        left: 18%;
        background: #FFFFFF;
        background-image: url("/././Assets/cobrança.svg");
    }
    .limite-automatico {
        position: absolute;
        top: 50.5%;
        left: 2%;
        background: #FFFFFF;
        background-image: url("/././Assets/limiteAutomatico.svg");
    }
    .titulos-gerados {
        position: absolute;
        top: 50.5%;
        left: 31%;
        background: #FFFFFF;
        background-image: url("/././Assets/titulosGerados.svg");
    }
    .icone-1 {
        position: absolute;
        top: 42.9%;
        left: 12.3%;
        border-radius: 50%;
        border: 2px solid #C4C4C4;
    }
    .icone-2 {
        position: absolute;
        top: 63.5%;
        left: 37.5%;
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 50%;
        border: 2px solid #C4C4C4;
    }
    .icone-3 {
        position: absolute;
        top: 37.5%;
        left: 39%;
    }
    .elipse-laranja{
        position: absolute;
        top: 74%;
        left: 30.2%;
        z-index: 1;
    }
    .dados{
        position: absolute;
        top: 66.5%;
        left: 7%;

    }
    .intro {
        width: 50vw;
        height: 100vh;
        background-color: #F8FBFF;
    }
    .login {
        width: 50vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .logo-anbetec {
        width: 8rem;
        height: 2.625rem;
        align-self: flex-start;
        margin-left: 7.438rem;
    }
    .titulo__login-area {
        color: var(--primary);
        font-family: var(--mont-serrat);
        font-weight: 700;
        margin-bottom: .5rem;
    }
    .descricao__login-area {
        color: #7A8594;
        font-family: var(--mont-serrat);
        font-weight: 400;
        margin-bottom: 2.5rem;
    }
    .form__login-area {
        display: flex;
        flex-direction: column;
        font-family: var(--mont-serrat);
    }
    .input-container{
        display: flex;
        flex-direction: column;
    }
    .input-email,
    .input-senha {
        width: 26.25rem;
        height: 51.65px;
        padding: 1rem 3rem;
        color: #7A8594;
        border: 1px solid #ECECEC;
        border-radius: .5rem;
        margin-bottom: 1rem;
        margin-top: .2rem;
    }
    .input-email {
        background-image: url("/./Assets/iconeAvatar.png");
        background-repeat: no-repeat;
        background-position-y: 1rem;
        background-position-x: 1rem;
    }
    .input-senha {
        background-image: url("/./Assets/VectorSenha.png");
        background-repeat: no-repeat;
        background-position-y: 1rem;
        background-position-x: 1rem;
    }
    .input-email:focus {
        outline: 2px solid var(--primary-support);
        color: var(--azul-secundaria);
        font-weight: 500;
    }
    .input-senha:focus {
        outline: 2px solid var(--primary-support);
        color: var(--primary-support);
        font-weight: 500;
    }
    .label-email,
    .label-senha {
        color: var(--primary);
        font-weight: 500;
        margin-bottom: .25rem;
    }
    .toggle {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--primary);
        font-weight: 600;
        margin-bottom: 2.492rem;
        margin-top: 1rem;
        font-size: 0.875rem;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 2.355rem;
        height: 0.846rem;
        margin-right: .5rem;
    }
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        height: 0.846rem
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 1.625rem;
        width: 1.625rem;
        left: -0.063rem;
        bottom: -0.313rem;
        background-color: white;
        -webkit-transition: .3s;
        transition: .3s;
        box-shadow: 0px 1.93251px 1.93251px rgba(0, 0, 0, 0.25);
    }
    input:checked+.slider {
        background-color: var(--primary-support);
    }
    input:focus+.slider {
        box-shadow: 0 0 1px var(--primary-support);
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(1.125rem);
        -ms-transform: translateX(1.125rem);
        transform: translateX(1.125rem);
    }
    .toggle-switch:checked+.input-botao {
        background-color: var(--primary);
    }
    .slider.round {
        border-radius: 2.125rem;
    }
    .slider.round:before {
        border-radius: 50%;
    }
    .input-botao {
        width: 26.25rem;
        padding: 1rem 2rem;
        background-color: var(--primary-support);
        border-radius: 4rem;
        border: none;
        color: white;
        font-weight: 500;
        font-family: var(--mont-serrat);
    }
    .esqueceu-senha {
        align-self: center;
        margin-top: 1rem;
        color: var(--primary-support);
        text-decoration: underline;
        font-family: var(--mont-serrat);
        font-weight: 500;
    }
    .redes-sociais {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 50vw;
    }
    .titulo__redes-sociais {
        color: var(--primary);
        font-family: var(--mont-serrat);
        font-size: 12px;
        margin-bottom: 1.5rem;
    }
    .links__redes-socias {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 9rem;
    }
    .whatsapp{
        display: flex;
        align-self: flex-end;
        margin-right: 4.466rem;
    }
    .input-mensagem-erro {
        display: none;
        align-self: flex-end;
    }
}