@media (min-width:0px){
    body{
        background-color: #F8FBFF;
        overflow-x: hidden;
    }
    html{
        overflow-x: hidden;
    }
    #body{
        overflow-x: hidden;
    }
    .conteudo{
        overflow-x: hidden;
    }
    .filtros__retorno{
        overflow-x: hidden;
    }
    
    /*-------------------------cabecalho---------------------------*/
    .cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        height: 6.938rem;
        width: 100vw;
    
        background-color: #FFFFFF;
    
        padding: 2rem 3.5rem;
    }
    .container__info{
        display: flex;
        flex-direction: row;
    }
    .logo-anbetec{
        width: 9.213rem;
        height: 2.979rem;
    }
    .pesquisa-mobile{
        display: none;
    }
    .barra-pesquisa{
        font-family: var(--mont-serrat);
        font-size: 14px;
        width: 39.813rem;
        height: 3.25rem;
    
        border: none;
        border-radius: .5rem;
    
        background-color: #F1F4F9;
        background-image: url("../../Assets/search.png");
        background-repeat: no-repeat;
        background-position: 2.063rem, .5rem;
    
        padding: 1rem 0 1rem 3.5rem;
    }
    .barra-pesquisa:focus{
        outline: 2px solid var(--primary-support);
        color: var(--azul-secundaria);
    }
    .container__notificacao{
        padding-right: 1.25rem;
        margin-right: 1.75rem;
        border-right: 1px solid #cdcdcd;
        
        display: flex;
        align-items: center;

        background-color: transparent;
        border-top: none;
        border-left: none;
        border-bottom: none;
    }
    .notificacao-ativa{
        visibility:visible;
        position: relative;
        top: -.8rem;
        left: -.5rem;
    }

    .perfil-area{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.75rem;
        font-family: var(--mont-serrat);
        height: 2rem;
    }
    .informacoes__perfil{
        width: 112px;
    }
    .icone__perfil{
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
    }
    .nome__perfil{
        margin: 0%;
        font-size: 14px;
        font-weight: 600;
        color: var(--primary);
    }
    .banco__perfil{
        font-size: 14px;
        font-weight: 500;
        color: #7A8594;
    }
    .menu-dots{
        background-image: url("../../Assets/menu__dots.png");
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position-y: .5rem;

        width: 30px;
        height: 20px;
    }

    /*-------------------------paginação-DDA---------------------------*/
    .intro__processamento-retorno{
        font-family: var(--mont-serrat);
        margin-bottom: 2rem;
    }
    .paginacao__processamento-retorno{
        color: #7A8594;
        font-size: 14px;
        font-weight: 500;
        margin-top: 0%;
    
    }
    .link-paginacao{
        color: #7A8594;
    }
    .link-paginacao-edi{
        padding-left: 1.6rem;
        background-image: url("../../Assets/icone-paginacao.png");
        background-repeat: no-repeat;
        background-position: .55rem, .2rem ;
        color: #7A8594;
    }
    .destaque__paginacao{
        padding-left: 1.6rem;
        background-image: url("../../Assets/icone-paginacao.png");
        background-repeat: no-repeat;
        background-position: .55rem, .2rem ;
    
        color: var(--primary);
        font-weight: 600;
    }

    .secao__processamento-retorno{
        padding-left: 3rem;
        padding-top: 2rem;
        padding-right: 3.438rem;
    }
    /*-------------------------secao-filtros-retorno---------------------------*/
    .form__filtros{
        display: flex;
        flex-direction: column;
    }
    
    
    .filtros__retorno{
        background-color: #FFFFFF;
        border-radius: 1rem;
        border: 1px solid #F1F1F1;

        padding: 2rem 2rem 2.5rem 2rem;
        margin-bottom: 1.5rem;
    }

    .titulo__filtro{
        font-family: var(--mont-serrat);
        font-size: 18px;
        color: var(--primary);

        margin-bottom: 1.438rem;
    }
    .secao-1__filtros{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;

        font-family: var(--mont-serrat);

        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid #EEEEEE;
    }
    .container__input___filtro{
        display: flex;
        flex-direction: column;
    }

    .label__filtro{
        font-size: 14px;
        font-weight: 500;
        color: var(--primary);

        margin-bottom: .25rem;
    }
    .input__filtro{
        height: 3.063rem;
        width: 43vw;

        border: 1.02254px solid #ECECEC;
        border-radius: 8px;

        padding: .5rem 0 .5rem 1rem;
        font-size: 14px;
        font-family: var(--mont-serrat);
        color: #7A8594;
    }
    .input__filtro:focus{
        outline: 1px solid var(--primary-support);
    }

    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url("../../Assets/seta__selection.png") no-repeat;
        background-position-x: calc(100% - 1rem);
        background-position-y: 1.3rem;
        border: 1px solid #333;
        padding-right: 20px;
    }

    select:focus{
        outline: none;
    }
    .option__filtro{
        padding: 1rem 0 1rem 1rem;
    }

    .container__input-titulo{
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
    }
    .secao-2__filtros{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;

        font-family: var(--mont-serrat);
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid #EEEEEE;
    }
    .container__filtro-evento{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .inputs___evento{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    .container__input-evento___filtro{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: .5rem;
    }
    .input-radio__evento{
        width: 1rem;
        height: 1rem;
    }
    .input__filtro-data{
        width: 26.9vw;
        height: 3.063rem;

        border: 1.02254px solid #ECECEC;
        border-radius: 8px;

        padding: 1rem 0 1rem 1rem;
        font-size: 14px;
        font-family: var(--mont-serrat);
        color: #7A8594;
    }
    .input__filtro-data::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
    .input__filtro-data:focus, .input__filtro-small:focus, .input__filtro___pagamento:focus{
        outline: none;
    }

    .toggle {
        display: flex;
        flex-direction: column-reverse;
        color: var(--primary);
        font-size: 14px;
        font-weight: 500;
        color: var(--primary);

        width: 11rem;

        margin-bottom: 1rem;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 2.355rem;
        height: 0.846rem;
        margin-right: .5rem;
        margin-top: 1.375rem;
    }
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        height: 0.846rem
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 1.625rem;
        width: 1.625rem;
        left: -0.063rem;
        bottom: -0.313rem;
        background-color: white;
        -webkit-transition: .3s;
        transition: .3s;
        box-shadow: 0px 1.93251px 1.93251px rgba(0, 0, 0, 0.25);
    }
    input:checked+.slider {
        background-color: var(--primary-support);
    }
    input:focus+.slider {
        box-shadow: 0 0 1px var(--primary-support);
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(1.125rem);
        -ms-transform: translateX(1.125rem);
        transform: translateX(1.125rem);
    }
    .toggle-switch:checked+.input-botao {
        background-color: var(--primary);
    }
    .slider.round {
        border-radius: 2.125rem;
    }
    .slider.round:before {
        border-radius: 50%;
    }

    .botoes__form{
        display: flex;
        align-self: flex-end;
        font-family: var(--mont-serrat);
    }
    .botao-limpar{
        width: 7.75rem;
        height: 3.5rem;

        background-color: transparent;
        color: var(--primary);
        padding: 1rem 2rem;
        margin-left: 1rem;
        margin-right: 1rem;

        border: 0.966253px solid #ECECEC;
        border-radius: 64px;
    }
    .botao-pesquisa{
        width: 9.125rem;
        height: 3.5rem;

        background-color: var(--primary-support);
        color: #FFFFFF;
        padding: 1rem 2rem;

        border: 0.966253px solid #ECECEC;
        border-radius: 64px;
    }
    /*-------------------------SECAO--EXTRATO-LISTA-FILTROS---------------------------*/
    .container__retorno-lista{
        background-color: #FFFFFF;
        border-radius: 1rem;
        border: 1px solid #F1F1F1;

        padding: 2rem 1rem 2.1rem 1rem;
        margin-left: 3rem;

        margin-bottom: 3.5rem;

        overflow-x: scroll;
        overflow-y: visible;
        scrollbar-color: #173A67 transparent;
        scrollbar-width: thin;

        width: 93vw;

        display: none;
        flex-direction: column;

        position: relative;

        animation: animatetop .6s ease-in-out forwards;
    }

    .info__retorno-lista___configuracao{
        display: flex;
        flex-direction: row;
        align-items: center;

        font-family: var(--mont-serrat);
        font-weight: 600;
        font-size: 14px;

        width: 80.75rem;
        height: 3.125rem;

        padding-left: 1.346rem;

        background-color: #FAFAFA;
        border-radius: 8px;
        color: var(--primary);
    }
   

    
    
    .info__retorno-lista___selecionar{
        width: 8.75rem;
        background-image: url("../../Assets/seta__selection.png");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 5.5rem;
    }
    
    .info__retorno-lista___evento{
        width: 17.938rem;
        background-image: url("../../Assets/seta__selection.png");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 4rem;
    }
    .info__retorno-lista___banco{
        width: 7.563rem;
        background-image: url("../../Assets/seta__selection.png");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 3.5rem;
    }

    .info__retorno-lista___conta{
        width: 9.25rem;
        background-image: url("../../Assets/seta__selection.png");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 3.4rem;
    }  
    .info__retorno-lista___arquivo{
        width: 10.25rem;
        background-image: url("../../Assets/seta__selection.png");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 4.4rem;
    }
    .info__retorno-lista___data{
        width: 10rem;
        background-image: url("../../Assets/seta__selection.png");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 3rem;
    }
    .info__retorno-lista___status{
        width: 11.375rem;
        background-image: url("../../Assets/seta__selection.png");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 3.7rem;
    }
    /*-------------------------SECAO--retorno-CLIENTES----------------------------*/
    .container__retorno-lista > p {
        overflow-x: hidden;
    }
    .container__retorno-lista::-webkit-scrollbar-thumb {
        background:#173A67;
        border-radius: 16px;
    }
    .container__retorno-lista::-webkit-scrollbar{
        background:transparent;
        height: 0.555rem;
        width: .5rem;
    }
    .lista__clientes___retorno-lista{
        display: flex;
        flex-direction: column;

        padding-left: 1.8rem;
        padding-right: 1.6rem;
    }
    .item__lista___retorno-lista{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 77.106rem;

        font-family: var(--mont-serrat);
        color: #7A8594;
        
        border-bottom: 0.941034px solid #E1E1E1;

        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    .item__lista___retorno-lista:last-child{
        border: none;
    }
    .input__check___lista-retorno{
        margin-right: 7.3rem;
    }






    .retorno-lista__evento{
        width: 17.938rem;
        font-size: 14px;
    }
    .retorno-lista__banco{
        width: 7.563rem;
        font-size: 14px;
    }
    .retorno-lista__conta{
        width: 9.25rem;
        font-size: 14px;
    }
    .retorno-lista__arquivo{
        width: 10.25rem;
        font-size: 14px;
    }
    .retorno-lista__data{
        width: 10rem;
        font-size: 14px;
    }
    .retorno-lista__status{
        width: 11.375rem;
        font-size: 14px;
    }
    .botao__status___configuracao-ativa{
        font-size: 14px;
        font-weight: 500;

        background: #DBFBCD;
        border-radius: 18.8207px;
        border: none;

        color: #4ABE14;

        padding: .2rem .9rem;

        margin-right: 2.55rem;
    }
    .botao__status___configuracao-desativa{
        background: #FFF2F2;
        color: #F5381E;

        font-size: 14px;
        font-weight: 500;

        border-radius: 18.8207px;
        border: none;

        padding: .2rem .9rem;

        margin-right: 1rem;
    }
    .paginacao__carrousel{
        width: 6.528rem;

        position: relative;
        top: 0%;
        left: 47%;

        margin-top: 3rem;

        font-family: var(--mont-serrat);
        font-size: 15px;
        color: #7A8594;

        background-color: #FFFFFF;
        z-index: 20000;
    }
    .container__botoes-marcar{
        display: flex;
        justify-content: space-between;
        padding: 0 1.5rem;

        margin-top: 1rem;
    }

    .botoes__marcador{
        display: flex;
        gap: 1rem;
        font-family: var(--mont-serrat);
        font-size: 14px;
    }
    .botao__marcar, .botao__desmarca{
        border: 1px solid #ECECEC;
        border-radius: 64px;
        height: 1.938rem;

        padding: .5rem 1rem;
        background-color: transparent;
        color: var(--primary);
    }
    .botao__processar{
        border: 1px solid #ECECEC;
        border-radius: 64px;
        height: 3.25rem;

        padding: 1rem 2rem;
        background-color: #93C83D;
        color: #FFFFFF;
        font-family: var(--mont-serrat);
    }
    /*-------------------------SECAO--EXTRATO-BOTOES-CARROUSEL---------------------------*/
    .button--carrousel{
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 2.6rem 0 1.8rem;

        margin-top: 1.969rem;
    }
    .carrousel__button{
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        background-position-y: center;
        color: #7A8594;
        font-family: var(--mont-serrat);
        font-weight: 600;
    }
    .carrousel__button--anterior{
        background-image: url("../../Assets/seta-esquerda.png");
        padding-left: 2rem;
        opacity: 0.4;
    }
    .carrousel__button--proximo{
        background-image: url("../../Assets/seta-direita.png");
        padding-right: 2rem;
        background-position-x:right;
    }

}