@media (min-width:1441px){
    /*-------------------------SECAO-COBRANCA---------------------------*/
    .info__cobranca___configuracao {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 91vw;
    }
    .lista__clientes___cobranca-configuracao {
        display: flex;
        flex-direction: column;
    }
    .item__lista___cobranca-configuracao {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 88vw;

        padding-left: 0%;
        padding-right: 0%;
    }

    .container__cobranca {
        overflow-x: hidden;
        overflow-y: visible;
        scrollbar-color: #173A67 #173A67;
        scrollbar-width: thin;
    }
    .container__info__cobranca-primeiro {
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
@media (min-width:1441px){
    /*-------------------------SECAO-COBRANCA---------------------------*/
    .info__cobranca___status{
        margin-right: 3%;
    }
    /*-------------------------SECAO-PAGAMENTO---------------------------*/
    .info__cobranca___status-pagamento{
        margin-right:  3%;
    }
    /*-------------------------SECAO-EXTRATO---------------------------*/
    .info__cobranca___status-extrato{
        margin-right:  3%;
    }
    /*-------------------------SECAO-DDA---------------------------*/
    .info__cobranca___status-dda{
        margin-right:  3.5%;
    }
}
@media (min-width:1510px){
    /*-------------------------SECAO-COBRANCA---------------------------*/
    .info__cobranca___status{
        margin-right: 5%;
    }
    /*-------------------------SECAO-PAGAMENTO---------------------------*/
    .info__cobranca___status-pagamento{
        margin-right:  5%;
    }
    /*-------------------------SECAO-EXTRATO---------------------------*/
    .info__cobranca___status-extrato{
        margin-right:  5%;
    }
    /*-------------------------SECAO-DDA---------------------------*/
    .info__cobranca___status-dda{
        margin-right:  5.5%;
    }
}
@media (min-width:1610px){
    /*-------------------------SECAO-COBRANCA---------------------------*/
    .info__cobranca___status{
        margin-right: 6.5%;
    }
    /*-------------------------SECAO-PAGAMENTO---------------------------*/
    .info__cobranca___status-pagamento{
        margin-right:  6.5%;
    }
    /*-------------------------SECAO-EXTRATO---------------------------*/
    .info__cobranca___status-extrato{
        margin-right:  6.5%;
    }
    /*-------------------------SECAO-DDA---------------------------*/
    .info__cobranca___status-dda{
        margin-right:  7.5%;
    }
}

@media (min-width:1750px){
    /*-------------------------SECAO-COBRANCA---------------------------*/
    .info__cobranca___status{
        margin-right: 7%;
    }
    /*-------------------------SECAO-PAGAMENTO---------------------------*/
    .info__cobranca___status-pagamento{
        margin-right: 7%;
    }
    /*-------------------------SECAO-EXTRATO---------------------------*/
    .info__cobranca___status-extrato{
        margin-right: 7%;
    }
    /*-------------------------SECAO-DDA---------------------------*/
    .info__cobranca___status-dda{
        margin-right: 8%;
    }
}

@media (max-width:1400px){
    /*-------------------------SECAO-CONFIGURAÇÃO-COBRANCA---------------------------*/
    .container__input-configuracao{
        width: 62vw;
    }
    .input__cobranca{
        width: 30vw;
    }
    .input__cobranca___configuracao-remessa {
        width: 24vw;
    }
    .input__periodicidade-remessa, .input__horario-inicio-remessa, .input__horario-fim-remessa {
        width: 11.4vw;
    }
    .container__secao___configuracao-cobranca {
        padding: 50% 100vw;
    }
    .input__cobranca___configuracao-retorno {
        width: 62vw;
    }
    .container__input-toogle___retorno{
        width: 62vw;
        height: 12.4rem;
    }
    .accordion, .container__input-panel___vincular, .container__accordion-contas-vinculadas {
        width: 62vw;
    }
    .container__accordion-contas-vinculadas{
        margin-bottom: 7.5rem;
    }
    .input-email__configuracao-remessa{
        width: 62vw;
    }
    .input__agencia-panel___vincular, .input__conta-panel___vincular {
        width: 21vw;
    }
    .secao__toogle___configuracao-remessa {
        margin-top: 2.484rem
    }
    .toggle{
        width: 29vw;
        height: 4rem;
        margin-bottom: 0%;
    }
    .secao__inputs-api {
        margin-bottom: 17.5rem;
    }
    .input__secao-api {
        width: 30vw;
    
    }
    /*-------------------------SECAO-CONFIGURAÇÃO-PAGAMENTO---------------------------*/
    .container__secao___configuracao-pagamento {
        padding: 50% 100vw;
    }
    .input__pagamento{
        width: 30vw;
    }
    .input__pagamento-hora {
        width: 13.4vw;
    }
    .secao__toogle___configuracao-pagamento {
        margin-top: 27.171rem;
    }
    /*-------------------------SECAO-CONFIGURAÇÃO-EXTRATO---------------------------*/
    .input__extrato{
        width: 30vw;
    }
    .input__extrato___configuracao-moeda {
        width: 35vw;
    }
    .input__extrato-hora {
        width: 11.8vw;
    }
    /*-------------------------SECAO-CONFIGURAÇÃO-DDA---------------------------*/
    .input__dda{
        width: 30vw;
    }
    .input__dda___configuracao-validacao {
        width: 41.5vw;
    }
    .input__dda-hora {
        width: 18.4vw;
    }
    #toggle-margin-right__extrato {
        margin-right: 14.563rem;
    }
    .input__dda___validacao, .input__configuracao-dda___prazo-exclusao, .input-email__configuracao-dda{
        width: 62vw;
    }
}