@media (min-width:1441px){
    /*---------------------EXTRATO---------------------*/
    .info__extrato-lista___configuracao{
        width: 90vw;
    }
    .item__lista___extrato-lista {
        width: 87vw;
    }
    /*--------------------ERP-------------------------*/
    .info__movimentacao-erp___configuracao{
        width: 91vw;
    }
    .item__lista___movimentacao-erp{
        width: 87vw;
    }
    /*--------------------EXTRATO-BANCARIO-------------------------*/
    .info__movimentacao-extrato___configuracao{
        width: 91vw;
    }
    .item__lista___movimentacao-extrato{
        width: 87vw;
    }
}