@media (min-width:0px){
    body{
        background-color: #F8FBFF;
        overflow-x: hidden;
    }
    html{
        overflow-x: hidden;
    }
    #body{
        overflow-x: hidden;
    }
    .conteudo{
        overflow-x: hidden;
    }
    .filtros__dda{
        overflow-x: hidden;
    }
    
    /*-------------------------cabecalho---------------------------*/
    .cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        height: 6.938rem;
        width: 100vw;
    
        background-color: #FFFFFF;
    
        padding: 2rem 3.5rem;
    }
    .container__info{
        display: flex;
        flex-direction: row;
    }
    .logo-anbetec{
        width: 9.213rem;
        height: 2.979rem;
    }
    .pesquisa-mobile{
        display: none;
    }
    .barra-pesquisa{
        font-family: var(--mont-serrat);
        font-size: 14px;
        width: 39.813rem;
        height: 3.25rem;
    
        border: none;
        border-radius: .5rem;
    
        background-color: #F1F4F9;
        background-image: url("../../Assets/search.png");
        background-repeat: no-repeat;
        background-position: 2.063rem, .5rem;
    
        padding: 1rem 0 1rem 3.5rem;
    }
    .barra-pesquisa:focus{
        outline: 2px solid var(--primary-support);
        color: var(--azul-secundaria);
    }
    .container__notificacao{
        padding-right: 1.25rem;
        margin-right: 1.75rem;
        border-right: 1px solid #cdcdcd;
        
        display: flex;
        align-items: center;

        background-color: transparent;
        border-top: none;
        border-left: none;
        border-bottom: none;
    }
    .notificacao-ativa{
        visibility:visible;
        position: relative;
        top: -.8rem;
        left: -.5rem;
    }

    .perfil-area{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.75rem;
        font-family: var(--mont-serrat);
        height: 2rem;
    }
    .informacoes__perfil{
        width: 112px;
    }
    .icone__perfil{
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
    }
    .nome__perfil{
        margin: 0%;
        font-size: 14px;
        font-weight: 600;
        color: var(--primary);
    }
    .banco__perfil{
        font-size: 14px;
        font-weight: 500;
        color: #7A8594;
    }
    .menu-dots{
        background-image: url("../../Assets/menu__dots.png");
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position-y: .5rem;

        width: 30px;
        height: 20px;
    }

    /*-------------------------paginação-DDA---------------------------*/
    .intro__extrato-cobranca{
        font-family: var(--mont-serrat);
        margin-bottom: 2rem;
    }
    .paginacao__extrato-cobranca{
        color: #7A8594;
        font-size: 14px;
        font-weight: 500;
        margin-top: 0%;
    
    }
    .link-paginacao{
        color: #7A8594;
    }
    .link-paginacao-edi{
        padding-left: 1.6rem;
        background-image: url("../../Assets/icone-paginacao.png");
        background-repeat: no-repeat;
        background-position: .55rem, .2rem ;
        color: #7A8594;
    }
    .destaque__paginacao{
        padding-left: 1.6rem;
        background-image: url("../../Assets/icone-paginacao.png");
        background-repeat: no-repeat;
        background-position: .55rem, .2rem ;
    
        color: var(--primary);
        font-weight: 600;
    }

    .secao__extrato-cobranca{
        padding-left: 3rem;
        padding-top: 2rem;
        padding-right: 3.438rem;
    }
    /*-------------------------secao-filtros-EXTRATO-COBRANCA---------------------------*/
    .cabecalho__processamento-servico{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-bottom: 1.482rem;
    }
    .tablinks{
        border: none;
        background-color: transparent;
        color: var(--primary);
        font-family: var(--mont-serrat);
        padding: 0%;

        font-size: 22.58px;
        font-weight: 700;
        opacity: 0.2;
    }
    .form__filtros{
        display: flex;
        flex-direction: column;
    }
    .filtros__extrato-cobranca{
        width: 93vw;

        background-color: #FFFFFF;
        border-radius: 1rem;
        border: 1px solid #F1F1F1;

        padding: 2rem 2rem 2.5rem 2rem;
        margin-bottom: 2.051rem;
    }

    .titulo__filtro{
        font-family: var(--mont-serrat);
        font-size: 18px;
        color: var(--primary);

        margin-bottom: 1.438rem;
    }
    .secao-1__filtros{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.281rem;

        font-family: var(--mont-serrat);

        padding-bottom: 1.5rem;

        margin-bottom: 1.5rem;

        border-bottom: 1px solid #F1F1F1;

        height: 12rem;
        width: 89vw;
    }
    .container__input___filtro{
        display: flex;
        flex-direction: column;
    }

    .label__filtro{
        font-family: var(--mont-serrat);
        font-size: 14px;
        font-weight: 500;
        color: var(--primary);

        margin-bottom: .25rem;
    }
    .input__filtro{
        height: 3.063rem;
        width: 43.4vw;

        border: 1.02254px solid #ECECEC;
        border-radius: 8px;

        padding: .5rem 1rem .5rem 1rem;
        font-size: 14px;
        font-family: var(--mont-serrat);
        color: #7A8594;
        text-overflow:ellipsis;
    }
    .input__filtro:focus, .input__filtro-banco:focus, .input__filtro-cobranca:focus{
        outline: 1px solid var(--primary-support);
    }
    .input__filtro-banco{
        height: 3.063rem;
        width: 19.4vw;

        border: 1.02254px solid #ECECEC;
        border-radius: 8px;

        padding: .5rem 1rem .5rem 1rem;
        font-size: 14px;
        font-family: var(--mont-serrat);
        color: #7A8594;
        text-overflow:ellipsis;
    }
    .input__filtro-cobranca{
        height: 3.063rem;
        width: 25.5vw;

        border: 1.02254px solid #ECECEC;
        border-radius: 8px;

        padding: .5rem 1rem .5rem 1rem;
        font-size: 14px;
        font-family: var(--mont-serrat);
        color: #7A8594;
        text-overflow:ellipsis;
    }

    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url("../../Assets/seta__selection.png") no-repeat;
        background-position-x: calc(100% - 1rem);
        background-position-y: 1.3rem;
        border: 1px solid #333;
        padding-right: 20px;
    }

    select:focus{
        outline: none;
    }
    .option__filtro{
        padding: 1rem 0 1rem 1rem;
    }

    .container__input-titulo{
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
    }
    .input__filtro-data{
        width: 12.29vw;
        height: 3.063rem;

        border: 1.02254px solid #ECECEC;
        border-radius: 8px;

        padding: 1rem 0 1rem 1rem;
        font-size: 14px;
        font-family: var(--mont-serrat);
        color: #7A8594;

        text-overflow:ellipsis;
    }
    .input__filtro-data::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
    .input__filtro-data:focus, .input__filtro-small:focus, .input__filtro___pagamento:focus{
        outline: none;
    }

    .botoes__form{
        display: flex;
        align-self: flex-end;
        font-family: var(--mont-serrat);
    }
    .botao-limpar-form{
        width: 7.75rem;
        height: 3.5rem;

        background-color: transparent;
        color: var(--primary);
        padding: 1rem 2rem;
        margin-left: 1rem;
        margin-right: 1rem;

        border: 0.966253px solid #ECECEC;
        border-radius: 64px;
    }
    .botao-pesquisa{
        width: 9.125rem;
        height: 3.5rem;

        background-color: var(--primary-support);
        color: #FFFFFF;
        padding: 1rem 2rem;

        border: 0.966253px solid #ECECEC;
        border-radius: 64px;
    }
    .container__feedback-filtros{
        width: 17.313rem;

        position: absolute;
        left: 41%;
        right: 50%;
        top: -300px;

        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2.563rem;
        padding-right: 1rem;

        background-color: var(--terciary);
        background-image: url("../../Assets/ExtratoCobranca/icone-feedback-filtros.svg");
        background-repeat: no-repeat;
        background-position-x: .9rem;
        background-position-y: center;

        border-radius: 8px;

    }
    .texto__filtro-concluido{
        font-family: var(--mont-serrat);
        font-size: 14px;
        color: #FFFFFF;
    }
    /*------------------------RESULTADO-FILTRO-EXTRATO------------------------*/
    .secao__extrato___filtros{
        display: flex;
        flex-direction: column;

        padding-left: 3rem;
        padding-right: 3.438rem;
    }

    /*-------------------------SECAO--EXTRATO-LISTA-FILTROS---------------------------*/
    .container__extrato-lista{
        background-color: #FFFFFF;
        border-radius: 1rem;
        border: 1px solid #F1F1F1;

        padding: 2rem 1rem 0 1rem;

        margin-bottom: 3.5rem;

        overflow-x: scroll;
        overflow-y: visible;
        scrollbar-color: #173A67 transparent;
        scrollbar-width: thin;

        width: 93vw;

        display: none;
        flex-direction: column;

        position: relative;

        animation: animatetop .6s ease-in-out forwards;
    }

    .info__extrato-lista___configuracao{
        display: flex;
        flex-direction: row;
        align-items: center;

        font-family: var(--mont-serrat);
        font-weight: 600;
        font-size: 14px;

        width: 80.75rem;
        height: 3.125rem;

        padding-left: 5.4rem;

        background-color: #FAFAFA;
        border-radius: 8px;
        color: var(--primary);
    }
    .info__extrato-lista___agencia{
        width: 8.75rem;
        background-image: url("../../Assets/seta__selection.png");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 4.5rem;
    }
    .info__extrato-lista___conta{
        width: 11.875rem;
        background-image: url("../../Assets/seta__selection.png");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 3.5rem;
    }

    .info__extrato-lista___data-arquivo{
        width: 10.313rem;
        background-image: url("../../Assets/seta__selection.png");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 6rem;
    }
    .info__extrato-lista___nome-arquivo{
        width: 43.688rem;
        background-image: url("../../Assets/seta__selection.png");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 7.7rem;
    }
    /*-------------------------SECAO--EXTRATO-CLIENTES----------------------------*/
    .container__extrato-lista > p {
        overflow-x: hidden;
    }
    .container__extrato-lista::-webkit-scrollbar-thumb {
        background:#173A67;
        border-radius: 16px;
    }
    .container__extrato-lista::-webkit-scrollbar{
        background:transparent;
        height: 0.555rem;
        width: .5rem;
    }
    .lista__clientes___extrato-lista{
        display: flex;
        flex-direction: column;

        padding-left: 1.8rem;
        padding-right: 1.6rem;
    }
    .item__lista___extrato-lista{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 77.106rem;

        font-family: var(--mont-serrat);
        color: #7A8594;
        
        border-bottom: 0.941034px solid #E1E1E1;

        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    .item__lista___extrato-lista:last-child{
        border: none;
    }
    .input__check___lista-extrato{
        margin-right: 2.717rem;
    }
    .extrato-lista__agencia{
        width: 8.813rem;
        font-size: 14px;
    }
    .extrato-lista__conta{
        width: 11.875rem;
        font-size: 14px;
    }
    .extrato-lista__data-arquivo{
        width: 10.313rem;
        font-size: 14px;
    }
    .extrato-lista__nome-arquivo{
        width: 41.75rem;
        font-size: 14px;
    }
    .botao__status___configuracao-ativa{
        font-size: 14px;
        font-weight: 500;

        background: #DBFBCD;
        border-radius: 18.8207px;
        border: none;

        color: #4ABE14;

        padding: .2rem .9rem;

        margin-right: 2.55rem;
    }
    .botao__status___configuracao-desativa{
        background: #FFF2F2;
        color: #F5381E;

        font-size: 14px;
        font-weight: 500;

        border-radius: 18.8207px;
        border: none;

        padding: .2rem .9rem;

        margin-right: 1rem;
    }
    .paginacao__carrousel{
        width: 6.528rem;

        position: relative;
        top: 0%;
        left: 47%;

        margin-top: 3rem;

        font-family: var(--mont-serrat);
        font-size: 15px;
        color: #7A8594;

        background-color: #FFFFFF;
        z-index: 20000;
    }
    .container__botoes-marcar{
        display: flex;
        justify-content: space-between;
        padding: 0 1.5rem;

        margin-top: 1rem;
    }

    .botoes__marcador{
        display: flex;
        gap: 1rem;
        font-family: var(--mont-serrat);
        font-size: 14px;
    }
    .botao__marcar, .botao__desmarca{
        border: 1px solid #ECECEC;
        border-radius: 64px;
        height: 1.938rem;

        padding: .5rem 1rem;
        background-color: transparent;
        color: var(--primary);
    }
    .botao__processar{
        border: 1px solid #ECECEC;
        border-radius: 64px;
        height: 3.25rem;

        padding: 1rem 2rem;
        background-color: #93C83D;
        color: #FFFFFF;
        font-family: var(--mont-serrat);
    }
    /*-------------------------SECAO--EXTRATO-BOTOES-CARROUSEL---------------------------*/
    .button--carrousel{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        position: relative;
        top: -2rem;

        padding: 0 2.6rem 0 1.8rem;

    }
    .carrousel__button{
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        background-position-y: center;
        color: #7A8594;
        font-family: var(--mont-serrat);
        font-weight: 600;
    }
    .carrousel__button--anterior{
        background-image: url("../../Assets/seta-esquerda.png");
        padding-left: 2rem;
        opacity: 0.4;
    }
    .carrousel__button--proximo{
        background-image: url("../../Assets/seta-direita.png");
        padding-right: 2rem;
        background-position-x:right;
    }
    /*-------------------------SECAO--CONFERENCIA---------------------------*/
    .secao__conferencia-conciliacao{
        display: flex;
        flex-direction: column;

        padding-left: 3rem;
        padding-right: 3.438rem;
    }
    .cabecalho__info___arquivo{
        background-color: #FFFFFF;
        border-radius: 1rem;
        border: 1px solid #F1F1F1;

        padding: 2rem;

        margin-bottom: 2.5rem;

        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;

        width: 93vw;
    }
    .container__info___arquivo{
        display: flex;
        flex-direction: column;
        gap: .5rem;

        width: 44vw;

        border: 1px solid #F1F1F1;

        border-radius: 8px;

        padding: 1rem;
    }
    .titulo__info___arquivo{
        font-family:var(--mont-serrat);
        font-size: 16px;
        font-weight: 400;
        color: var(--primary);

        margin: 0%;
    }
    .info__arquivo{
        font-family:var(--mont-serrat);
        font-size: 20px;
        font-weight: 700;
        color: var(--primary);

        margin: 0%;
    }
        /*-------------------------SECAO-FILTROS-MOVIMENTACAO-ERP-CONFERENCIA---------------------------*/
        .secao__movimentacao-erp{
            display: flex;
            flex-direction: column;

        }
        .titulo__secao___movimentacao-erp{
            font-family:var(--mont-serrat);
            font-size: 18px;
            font-weight: 700;
            color: var(--primary);

            margin-bottom: 1rem;
        }
        .filtro__movimentacao-erp{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            background-color: #FFFFFF;
            border-radius: 1rem;
            border: 1px solid #F1F1F1;

            padding: 1.5rem;

            width: 93vw;

            margin-bottom: 1rem;
        }
        .input__filtro-erp{
            height: 3.063rem;
            width: 24.05vw;
    
            border: 1.02254px solid #ECECEC;
            border-radius: 8px;
    
            padding: .5rem 1rem .5rem 1rem;
            font-size: 14px;
            font-family: var(--mont-serrat);
            color: #7A8594;
            text-overflow:ellipsis;
        }
        .botao-pesquisa__filtro-erp{
            width: 9.125rem;
            height: 3.5rem;
            background-color: var(--primary-support);
            color: #FFFFFF;
            padding: 1rem 2rem;
            border: 0.966253px solid #ECECEC;
            border-radius: 64px;

            font-family: var(--mont-serrat);
        }
        /*-------------------------SECAO--MOVIMENTACAO-ERP-LISTA-FILTROS---------------------------*/
        .container__movimentacao-erp___lista{
            background-color: #FFFFFF;
            border-radius: 1rem;
            border: 1px solid #F1F1F1;

            padding: 2rem 1rem 0 1rem;

            margin-bottom: 1.975rem;

            overflow-x: scroll;
            overflow-y: visible;
            scrollbar-color: #173A67 transparent;
            scrollbar-width: thin;

            width: 93vw;
        }

        .info__movimentacao-erp___configuracao{
            display: flex;
            flex-direction: row;
            align-items: center;

            font-family: var(--mont-serrat);
            font-weight: 600;
            font-size: 14px;

            width: 80.75rem;
            height: 3.125rem;

            padding-left: 5.4rem;

            background-color: #FAFAFA;
            border-radius: 8px;
            color: var(--primary);
        }
        .info__movimentacao-erp___transacao{
            width: 9.313rem;
            background-image: url("../../Assets/seta__selection.png");
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 5.5rem;
        }
        .info__movimentacao-erp___id-transacao{
            width: 10.188rem;
            background-image: url("../../Assets/seta__selection.png");
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 5.7rem;
        }

        .info__movimentacao-erp___valor{
            width: 10.5rem;
            background-image: url("../../Assets/seta__selection.png");
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 3.4rem;
        }
        .info__movimentacao-erp___natureza{
            width: 8.938rem;
            background-image: url("../../Assets/seta__selection.png");
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 5.1rem;
        }

        .info__movimentacao-erp___data{
            width: 11rem;
            background-image: url("../../Assets/seta__selection.png");
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x:3.3rem;
        }

        .info__movimentacao-erp___documento{
            width: 14.813rem;
            background-image: url("../../Assets/seta__selection.png");
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 6.5rem;
        }
        /*-------------------------SECAO--EXTRATO-CLIENTES----------------------------*/
        .container__movimentacao-erp > p {
            overflow-x: hidden;
        }
        .container__movimentacao-erp::-webkit-scrollbar-thumb {
            background:#173A67;
            border-radius: 16px;
        }
        .container__movimentacao-erp::-webkit-scrollbar{
            background:transparent;
            height: 0.555rem;
            width: .5rem;
        }
        .lista__clientes___movimentacao-erp{
            display: flex;
            flex-direction: column;

            padding-left: 1.8rem;
            padding-right: 1.6rem;
        }
        .item__lista___movimentacao-erp{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 77.106rem;

            font-family: var(--mont-serrat);
            color: #7A8594;
            
            border-bottom: 0.941034px solid #E1E1E1;

            padding-top: .5rem;
            padding-bottom: .5rem;
        }
        .item__lista___movimentacao-erp:last-child{
            border: none;
        }
        .input__check___lista-extrato{
            margin-right: 2.717rem;
        }
        .movimentacao-erp__transacao{
            width: 9.313rem;
            font-size: 14px;
        }
        .movimentacao-erp__id-transacao{
            width: 10.188rem;
            font-size: 14px;
        }
        .movimentacao-erp__valor{
            width: 10.5rem;
            font-size: 14px;
        }
        .movimentacao-erp__natureza{
            width: 8.938rem;
            font-size: 14px;
        }
        .movimentacao-erp__data{
            width: 11rem;
            font-size: 14px;
        }
        .movimentacao-erp__documento{
            width: 16.875rem;
            font-size: 14px;
        }
        .botao__edita___item-erp{
            border: none;
            background-color: #E0F0FF;
            padding-top: 0.719rem;
            padding-bottom: 0.719rem;
            padding-right: 1rem;
            padding-left: 2.983rem;
            border-radius: 64px;
            color: #1A8EF9;
            font-family: var(--mont-serrat);
            font-weight: 500;
            font-size: 14px;
            background-image: url("../../Assets/VetoresBotoes/vetor-botao-edita.svg");
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 1rem;
        }
    /*-------------------------SECAO-MOVIMENTACAO-EXTRATO----------------------------*/    
    .secao__movimentacao-extrato{
        width: 93vw;

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .titulo__secao___movimentacao-extrato{
        font-family: var(--mont-serrat);
        font-size: 18px;
        font-weight: 700;
        color: var(--primary);
        margin: 0%;
    }
    .cabecalho__movimentacao-extrato{
        display: flex;
        flex-direction: row;
        gap: .5rem;
    }
    .tablinks-movimentacao-extrato{
        outline:1px solid #F0F0F0;

        border-radius: 4px;
        border-width: 0px;

        padding-top: 0.5rem;
        padding-bottom: .5rem;
        padding-left: 1.094rem;
        padding-right: 1.094rem;

        background: #FFFFFF;

        font-family: var(--mont-serrat);
        font-size: 14px;
        font-weight: 700
    }
    .tab-nao-conciliadas{
        border-color: #F74135;

        color: #F74135;

    }
    .tab-vinculadas{
        color: #EFB33A;

        border-color: #EFB33A;

    }
    .tab-conciliadas{
        color: #57AD61;

        border-color: #57AD61;

    }
    .tab-todas{
        color: #63C2C3;

        border-color: #63C2C3;

    }
    .activeExtrato{
        outline: none;

        border-width: .5px;


    }
        /*-------------------------SECAO--MOVIMENTACAO-ERP-LISTA-FILTROS---------------------------*/
        .container__movimentacao-extrato___lista{
            background-color: #FFFFFF;
            border-radius: 1rem;
            border: 1px solid #F1F1F1;

            padding: 2rem 1rem 0 1rem;

            margin-bottom: 1.975rem;

            overflow-x: scroll;
            overflow-y: visible;
            scrollbar-color: #173A67 transparent;
            scrollbar-width: thin;

            width: 93vw;
        }

        .info__movimentacao-extrato___configuracao{
            display: flex;
            flex-direction: row;
            align-items: center;

            font-family: var(--mont-serrat);
            font-weight: 600;
            font-size: 14px;

            width: 80.75rem;
            height: 3.125rem;

            padding-left: 5.4rem;

            background-color: #FAFAFA;
            border-radius: 8px;
            color: var(--primary);
        }

        .info__movimentacao-extrato___id{
            width: 6.938rem;
            background-image: url("../../Assets/seta__selection.png");
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 2rem;
        }
        .info__movimentacao-extrato___documento{
            width: 11.875rem;
            background-image: url("../../Assets/seta__selection.png");
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 6.2rem;
        }

        .info__movimentacao-extrato___a-pagar{
            width: 10.313rem;
            background-image: url("../../Assets/seta__selection.png");
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 4.4rem;
        }
        .info__movimentacao-extrato___a-receber{
            width: 8.75rem;
            background-image: url("../../Assets/seta__selection.png");
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 5.5rem;
        }

        .info__movimentacao-extrato___historico{
            width:12.75rem;
            background-image: url("../../Assets/seta__selection.png");
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x:5rem;
        }

        .info__movimentacao-extrato___data{
            width: 6.875rem;
            background-image: url("../../Assets/seta__selection.png");
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 3rem;
        }
        .info__movimentacao-extrato___transacao{
            width: 26.375rem;
            background-image: url("../../Assets/seta__selection.png");
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 5.5rem;
        }
        /*-------------------------SECAO--EXTRATO-CLIENTES----------------------------*/
        .container__movimentacao-extrato > p {
            overflow-x: hidden;
        }
        .container__movimentacao-extrato::-webkit-scrollbar-thumb {
            background:#173A67;
            border-radius: 16px;
        }
        .container__movimentacao-extrato::-webkit-scrollbar{
            background:transparent;
            height: 0.555rem;
            width: .5rem;
        }
        .lista__clientes___movimentacao-extrato{
            display: flex;
            flex-direction: column;

            padding-left: 1.8rem;
            padding-right: 1.6rem;
        }
        .item__lista___movimentacao-extrato{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 77.106rem;

            font-family: var(--mont-serrat);
            color: #7A8594;
            
            border-bottom: 0.941034px solid #E1E1E1;

            padding-top: .5rem;
            padding-bottom: .5rem;
        }
        .item__lista___movimentacao-extrato:last-child{
            border: none;
        }
        .input__check___lista-extrato{
            margin-right: 2.717rem;
        }
        .movimentacao-extrato__id{
            width: 6.4rem;
            font-size: 14px;
        }
        .movimentacao-extrato__documento{
            width: 10.5rem;
            font-size: 14px;
        }
        .movimentacao-extrato__a-pagar{
            width: 9rem;
            font-size: 14px;
        }
        .movimentacao-extrato__a-receber{
            width: 8rem;
            font-size: 14px;
        }
        .movimentacao-extrato__historico{
            width: 11.4rem;
            font-size: 14px;
        }
        .movimentacao-extrato__data{
            width: 6.5rem;
            font-size: 14px;
        }
        .movimentacao-extrato__transacao{
            width: 15rem;
            font-size: 14px;
        }
        .botao__edita___item-erp{
            border: none;
            background-color: #E0F0FF;
            padding-top: 0.719rem;
            padding-bottom: 0.719rem;
            padding-right: 1rem;
            padding-left: 2.983rem;
            border-radius: 64px;
            color: #1A8EF9;
            font-family: var(--mont-serrat);
            font-weight: 500;
            font-size: 14px;
            background-image: url("../../Assets/VetoresBotoes/vetor-botao-edita.svg");
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 1rem;
        }

        /*-------------------------SECAO-VALORES-EXTRATO---------------------------*/
        .secao__valor___extrato-conferencia{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            background-color: #FFFFFF;

            border-radius: 1rem;
            border: 1px solid #F1F1F1;

            padding: 2rem;

            margin-bottom: 10.143rem;
            
            width: 93vw;
        }
        .secao__container___valores{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .container__valor___extrato{
            display: flex;
            flex-direction: column;
            gap: .5rem;
    
            width: 28.15vw;
    
            border: 1px solid #F1F1F1;
    
            border-radius: 8px;
    
            padding: 1rem;
        }
        .titulo__valor___extrato{
            font-family:var(--mont-serrat);
            font-size: 16px;
            font-weight: 400;
            color: var(--primary);
    
            margin: 0%;
        }
        .valor__extrato{
            font-family:var(--mont-serrat);
            font-size: 16px;
            font-weight: 700;
            color: var(--primary);
    
            margin: 0%;
        }
        .toggle {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            color: var(--primary);
            font-size: 13px;
            font-weight: 600;
            font-family:var(--mont-serrat);

            color: var(--primary);
    
            width: 18vw;
    
            margin-bottom: 1rem;
        }
        .span-toogle{
            position: relative;
            top: .6rem;
            right: 1rem;
        }
        .switch {
            position: relative;
            display: inline-block;
            width: 2.355rem;
            height: 0.846rem;
            margin-right: .5rem;
            margin-top: 1.375rem;
        }
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            height: 0.846rem
        }
        .slider:before {
            position: absolute;
            content: "";
            height: 1.625rem;
            width: 1.625rem;
            left: -0.063rem;
            bottom: -0.313rem;
            background-color: white;
            -webkit-transition: .3s;
            transition: .3s;
            box-shadow: 0px 1.93251px 1.93251px rgba(0, 0, 0, 0.25);
        }
        input:checked+.slider {
            background-color: var(--primary-support);
        }
        input:focus+.slider {
            box-shadow: 0 0 1px var(--primary-support);
        }
        input:checked+.slider:before {
            -webkit-transform: translateX(1.125rem);
            -ms-transform: translateX(1.125rem);
            transform: translateX(1.125rem);
        }
        .toggle-switch:checked+.input-botao {
            background-color: var(--primary);
        }
        .slider.round {
            border-radius: 2.125rem;
        }
        .slider.round:before {
            border-radius: 50%;
        }

        .secao__botoes___extrato-valor{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 2rem;

        }
        .botao__extrato-valor{
            background: #93C83D;
            box-shadow: 0px 0px 7.73002px rgba(147, 200, 61, 0.25);
            border-radius: 64px;

            padding: 1rem 1.5rem;

            border: none;

            font-family: var(--mont-serrat);
            font-size: 16px;

            color: #FFFFFF;
        }
}