@media (min-width:0px){
    /*-----------------SECAO-CONFIGURACAO-PAGAMENTO---------------------*/
    .container__secao___configuracao-pagamento{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100vw;

        padding: 46% 100vw;

        display: none;
        justify-content: flex-end;
        align-items: flex-end;
        background-color: rgba(0,0,0,0.2);

        transition: all .4s ease-in-out;

        z-index: 30000;
    }
    .configuracoes-pagamento{
        width: 70vw;
        height: 75.5rem;

        display: block;

        position: absolute;
        top: 0%;
        bottom: 0%;
        right: 0%;

        margin-top: 5vh;
        margin-bottom: 4vh;

        padding: 3rem 3.438rem 2.5rem;

        transition: all .4s ease-in-out;

        background-color: #FFFFFF;
        border-radius: 16px 0px 0px 16px;
        border: 1px solid #F1F1F1;

        animation: animateLeftServiço .4s ease-out forwards;

        font-family: var(--mont-serrat);
        z-index: 400000;
    }

    .cabecalho__configuracao-pagamento{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 1.5rem;
    }
    .titulo__cabecalho__configuracao-pagamento{
        font-size: 20px;
        color: var(--primary);
    }
    .fecha__configuracoes-pagamento{
        width: 1rem;
        height: 1rem;
        background-image: url("../../Assets/icone-fecha.svg");
        background-repeat: no-repeat;

        border: none;
        background-color: transparent;

        padding: 0;
    }
    .container__input-configuracao{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        padding-bottom: 2.5rem;
        margin-bottom: 2.5rem;

        width: 56.438rem;
        font-family: var(--mont-serrat);

        border-bottom: 1px solid #EEEEEE;
    }
    .label__input___configuracao-pagamento{
        font-size: 12px;
        font-weight: 500;
        font-family: var(--mont-serrat);
        color: var(--primary);
    }
    .input__pagamento{
        height: 3.063rem;
        width: 27.5rem;
        
        border: 1.02254px solid #ECECEC;
        border-radius: 8px;
        
        padding: .5rem 0 .5rem 1rem;
        
        font-size: 14px;
        font-family: var(--mont-serrat);
        font-weight: 500;
        
        color: #7A8594;
        background-color: transparent;
    }
    .container__secao___filtros-pagamento{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
    }
    .secao__filtros___configuracao-pagamento{
        display: flex;
        flex-direction: column;
        width: 27.326rem;
    }
    .container__input___pagamento{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        
        margin-bottom: 1.5rem;
    }
    .input__pagamento-hora{
        width:  12.5rem;
        height: 3.063rem;
        
        border: 1.02254px solid #ECECEC;
        border-radius: 8px;
        
        padding: .5rem 0 .5rem 1rem;
        
        font-size: 14px;
        font-family: var(--mont-serrat);
        font-weight: 500;
        
        color: #7A8594;
        background-color: transparent;
    }
    .container__input___radio{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
    }
    .container__input-email___configuracao-pagamento{
        visibility: hidden;
        opacity: 0;     
    }
    .input-email__configuracao-pagamento{
        width: 56.438rem;
        height: 3.063rem;
        
        border: 1.02254px solid #ECECEC;
        border-radius: 8px;
        
        padding: .5rem 0 .5rem 1rem;
        
        font-size: 14px;
        font-family: var(--mont-serrat);
        font-weight: 500;
        
        color: #7A8594;
        background-color: transparent;
    }
    .container__botao-adiciona__pagamento{
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
    }
    .botao__adiciona-configuracao___pagamento{
        color: #FFFFFF;
        
        font-weight: 500;
        font-size: 16px;
        font-family: var(--mont-serrat);
        
        padding: 1rem 2rem 1rem 3.733rem;
        margin-bottom: 3rem;
        margin-top: 2.5rem;
        
        background: var(--primary-support);
        background-image: url("../../Assets/botao__configurar___cobranca.png");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 9%;
        
        box-shadow: 0px 0px 7.73002px rgba(26, 142, 249, 0.25);
        
        border-radius: 64px;
        border: none;
        
    }
    .secao__toogle___configuracao-pagamento{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding-top: 3rem;
        margin-top: 29.171rem;
        border-top: 1px solid #EEEEEE;
    }
}